body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    background: #f9f9f9;
}



/* Starts General Styles */


.cta-button {
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 15px;
    -webkit-background: linear-gradient(135deg, #dc0451,#fb0d61,#fb337b,#fc6da0);
    -moz-background: linear-gradient(135deg, #dc0451,#fb0d61,#fb337b,#fc6da0);  
    -ms-background: linear-gradient(135deg, #dc0451,#fb0d61,#fb337b,#fc6da0);   
    -o-background: linear-gradient(135deg, #dc0451,#fb0d61,#fb337b,#fc6da0);    
    background: linear-gradient(135deg, #dc0451,#fb0d61,#fb337b,#fc6da0);   
    background-size: 400% 400%;
    display: block;
    text-decoration: none !important;
    line-height: 1;
    text-align: center;
}

.cta-button:hover{
    color: #fff;
    -webkit-animation: cta-animation  8s ease infinite;
    -moz-animation: cta-animation  8s ease infinite;
    -ms-animation: cta-animation  8s ease infinite;
    -o-animation: cta-animation  8s ease infinite;
    animation: cta-animation  8s ease infinite;
  }

  .cta-button:focus {
      color: #fff;
      outline: none;
  }

input.cta-button {
    border: 0;
    outline: none;
}

input.cta-button:focus {
    outline: none;
}

  @-webkit-keyframes cta-animation {
    0% {
      background-position: 0% 20%;
    }
    50% {
      background-position: 100% 80%;
    }
    100% {
      background-position: 0% 20%;
    }
  }

  @-moz-keyframes cta-animation {
    0% {
      background-position: 0% 20%;
    }
    50% {
      background-position: 100% 80%;
    }
    100% {
      background-position: 0% 20%;
    }
  }

  @-ms-keyframes cta-animation {
    0% {
      background-position: 0% 20%;
    }
    50% {
      background-position: 100% 80%;
    }
    100% {
      background-position: 0% 20%;
    }
  }

  @-o-keyframes cta-animation {
    0% {
      background-position: 0% 20%;
    }
    50% {
      background-position: 100% 80%;
    }
    100% {
      background-position: 0% 20%;
    }
  }

  @keyframes cta-animation {
    0% {
      background-position: 0% 20%;
    }
    50% {
      background-position: 100% 80%;
    }
    100% {
      background-position: 0% 20%;
    }
  }

  .cta-button .fa {
    margin-right: 15px;
    top: -1px;
    position: relative;
}

.common-title {
    text-align: center;
    margin: 50px 0 70px 0;
}

.common-title h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    position: relative;
}

.common-title h2:before {
    position: absolute;
    content: "";
    width: 20px;
    background: #009aa6;
    bottom: -10px;
    height: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.common-btn {
    max-width: 200px;
    margin: 50px auto 0;
}

.checkbox {
    padding-left: 20px; }
  .checkbox label {
      display: inline-block;
      position: relative;
      padding-left: 5px; }
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
  .checkbox input[type="checkbox"] {
  opacity: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'Glyphicons Halflings';
    content: "\e013"; }
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
    .checkbox input[type="checkbox"]:disabled + label::before {
      background-color: #eeeeee;
      cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
  border-radius: 50%; }
  .checkbox.checkbox-inline {
  margin-top: 0; }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #004a91;
      border-color: #004a91;}
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
  
  .radio {
      padding-left: 20px; }
  .radio label {
      display: inline-block;
      position: relative;
      padding-left: 5px; }
  .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
  .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
      opacity: 0; }
  .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
  .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
  .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
  .radio input[type="radio"]:disabled + label::before {
      cursor: not-allowed; }
  .radio.radio-inline {
      margin-top: 0; }
  
  .radio-primary input[type="radio"] + label::after {
      background-color: #004a91; }
  .radio-primary input[type="radio"]:checked + label::before {
      border-color: #004a91; }
  .radio-primary input[type="radio"]:checked + label::after {
      background-color: #004a91; }

/* Ends General Styles */

.main-header .header-top {
    -webkit-background-image: linear-gradient(#fff, #c2c1c0);
    -moz-background-image: linear-gradient(#fff, #c2c1c0);
    -ms-background-image: linear-gradient(#fff, #c2c1c0);
    -o-background-image: linear-gradient(#fff, #c2c1c0);
    background-image: linear-gradient(#fff, #c2c1c0);
    padding: 20px;
}

.logo a {
    text-decoration: none !important;
}

.logo h1 {
    color: #dc0451;
}


.main-header .header-top .right ul
 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-header .header-top .right ul li
{
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
}

.main-header .header-top .right ul li:last-child {
    margin-right: 0;
}

.main-header .header-top .right ul li a {
    text-decoration: none;
}

.main-header .header-top .right ul li .fa {
    border: 1px solid #009aa6;
    color: #009aa6;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    font-size: 20px;
}

.main-header .header-top .right ul li span {
    color: #302e2f;
}

.main-header .header-bottom {
    background: #302e2f;
    height: 71px;
    line-height: 71px;
}

.main-header .header-bottom .navigation ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: table;
}

.main-header .header-bottom .navigation ul li {
    display: inline-block;
    margin-right: 35px;
}

.main-header .header-bottom .navigation ul li:last-child {
    margin-right: 0;
}

.main-header .header-bottom .navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.main-header .header-bottom .navigation ul li a {
    text-decoration: none;
}

.main-header .header-bottom .nav-search a.btn-primary {
    background: #009aa6 !important;
    padding: 10px 40px;
    font-size: 16px;
}

.main-header .header-bottom .nav-search .btn-primary:focus,
.main-header .header-bottom .nav-search .btn-primary:hover
{
    background: #006b73 !important;
}

.main-header .header-bottom .nav-search  {
    margin-top: 10px;
}



.banner-slider .item {
    position: relative;
    background:  center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 500px;
  }

  .banner-slider .item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    -moz-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    -ms-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    -o-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    opacity: .6;
  }

.banner-slider .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.banner-slider .content h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px 0px;
    font-weight: bold;
}

.banner-slider .content p {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #fff;
    margin: 0 0 30px 0px;
}

.banner-slider .content .cta-button {
    max-width: 200px;
    margin: 0 auto;
}

.banner-slider .slider .item img {
    height: 100%;
    -webkit--object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.banner-slider {
    position: relative;
}

.banner-slider .quick-login {
    position: absolute;
    left: 50%;
    width: 60%;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.banner-slider .quick-login .col-md-4 {
    padding: 0 5px;
}

.banner-slider .quick-login .form-group {
    margin-bottom: 0;
}

.banner-slider .quick-login .form-group .form-control {
    height: 40px;
    padding: 6px 12px;
    color: #fff;
    position: relative;
    border: 1px solid #fff;
}

.banner-slider .quick-login .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }

  .banner-slider .quick-login .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }

  .banner-slider .quick-login .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }

  .banner-slider .quick-login .form-group .form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }

.banner-slider .quick-login .form-group.email-icon .form-control {
    background: url(../images/email-icon.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 40px;
}

.banner-slider .quick-login .form-group.password-icon  .form-control{
    background: url(../images/password-icon.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 40px;
}

.banner-slider .quick-login .form-group .cta-button {
    border: 0;
    color: #fff;
}


.search-form {
    position: relative;
    width: 60%;
    margin: 0 auto;
    background: #fff;
    padding: 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    margin-top: 80px;
    margin-bottom: 30px;
}

.search-form h4 {
    margin: 0 -10px 20px -10px;
    font-size: 14px;
}

.search-form .col-md-4 {
    padding: 0 5px;
}

.search-form .form-group {
    margin-bottom: 0;
}

.search-form .form-group .form-control {
    height: 40px;
    padding: 6px 12px;
    color: #333;
    position: relative;
}

.search-form .form-group.search-icon .form-control {
    background: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 40px;
}

.search-form .form-group.location-icon  .form-control{
    background: url(../images/location-icon.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 40px;
}

.search-form .form-group .cta-button {
    border: 0;
    color: #fff;
}





.featured-widgets {
    margin: 50px 0;
}

.featured-widgets  .cta-button {
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
    max-width: 100px;
}







.feature-box-default {
	background: #fff;
	padding: 25px;
    margin: 0 0 20px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}

.feature-box-default:hover {
	border-bottom-color: #f36969;
}       

.feature-box-default .fbox-icon {
	font-size: 36px;
	color: #23c0e9;
	float: left;
	padding-right: 20px;
	width: 60px;
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-ms-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
	position: relative;
}

.feature-box-default:hover .fbox-icon, .feature-box-default:hover .ourservice-heading {
    color: #f36969;
}

.feature-box-default:hover .fbox-icon .hidden-hover {
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
}


.feature-box-default:hover .fbox-icon .img_hover {
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.feature-box-default:hover .fbox-icon, .feature-box-default:hover .ourservice-heading {
	color: #f36969;
}

.feature-box-default .fbox-icon img {
	-webkit-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}

.feature-box-default .fbox-icon .img_hover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
}

.feature-box-default .fbox-content {
	overflow: hidden;
}

.feature-box-default .ourservice-heading {
	font-weight: 500;
	font-size: 20px;
	margin: 0 0 5px;
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-ms-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}


.job-fair .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.job-fair .container-fluid .list .row {
    margin-right: 0;
    margin-left: 0;
}

.job-fair  .container-fluid .list .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.job-fair  .container-fluid .list {
    color: #fff;
}

.job-fair  .container-fluid .list {
    height: 300px;
    overflow: hidden;
}

.job-fair  .container-fluid .list.top {
    background: #dc0451;
}

.job-fair  .container-fluid .list.bottom {
    background: #009aa6;
}

.job-fair .container-fluid .list img {
    height: auto;
    display: block;
    -webkit--object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.job-fair .container-fluid .list p {
    color: #fff;
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
}


.job-fair .container-fluid .list.top .left, .job-fair .container-fluid .list.bottom .right {
    display: table;
    height: 300px;
}

.job-fair .container-fluid .list.top .left p, .job-fair .container-fluid .list.bottom .right p {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.popular-job-types .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
  }
  
 .popular-job-types  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
  }
  
  .popular-job-types .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
  }
  
  .popular-job-types .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    padding: 15% 0 10px 0;
    text-align: left;
    z-index: 101;
  }
  
  .popular-job-types .hovereffect .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
    z-index: 101;
  }
  
  .popular-job-types .hovereffect a, .popular-job-types .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
  }
  
  .popular-job-types .hovereffect:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
 .popular-job-types  .hovereffect:hover .overlay:before,
  .popular-job-types .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color: #fff;
  }


 .popular-job-types  .job-box img {
      height: 200px;
      -webkit--object-fit: cover;
      -moz-object-fit: cover;
      -ms-object-fit: cover;
      -o-object-fit: cover;
         object-fit: cover;
  }

.popular-job-types .job-box .hovereffect:before {
    content: ''; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-image: linear-gradient(to bottom right, #000, #333);
    -moz-background-image: linear-gradient(to bottom right, #000, #333);
    -ms-background-image: linear-gradient(to bottom right, #000, #333);
    -o-background-image: linear-gradient(to bottom right, #000, #333);
    background-image: linear-gradient(to bottom right, #000, #333);
    opacity: .8;
    z-index: 100;
}

.popular-job-types .job-box .hovereffect:before p {
    color: #fff;
    opacity: 1;
}

.popular-job-types .job-box .para , .job-fair .para,
.jobs .para,.top-companies .para
{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 70px;
    line-height: 26px;
    font-size: 16px;
}

.employee-feedback {
    margin-bottom: 70px;
}

.employee-feedback .testimonials .item {
    margin: 20px;
}

.employee-feedback .testimonials .desc-box {
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    padding: 10px;
    position: relative;
    padding-right: 60px;
    margin-bottom: 20px;
    background: #009aa6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.employee-feedback .testimonials .desc-box::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: #009aa6 transparent transparent transparent;
    content: "";
    bottom: -12px;
    position: absolute;
    left: 10px;
}

.employee-feedback .testimonials .desc-box p {
    color: #fff;
}
.employee-feedback .testimonials .desc-box .fa {
    position: absolute;
    bottom: -13px;
    right: 10px;
    font-size: 30px;
    color: #dc0451;
}

.employee-feedback .testimonials .avatar img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}


.main-footer {
    background: #000000;
    padding: 20px 0px;
}

.main-footer .copyright {
    margin: 0;
}

.main-footer .copyright a, .social-nav a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none !important;
}

.copyright a, .social-nav a {
    color: #ffffff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.social-nav {
    text-align: right;
}

.social-nav ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.social-nav li {
    display: inline-block;
    padding-left: 25px;
}

.copyright, .social-nav a {
    font-size:16px;
    color: #ffffff;
}

.copyright a:hover, .social-nav a:hover {
    color: #3aa4e2;
}

/* Starts Employee Zone */

.employee-zone {
    background-image: url("../images/employee-zone-bg.jpeg");
    position: fixed;
    background-position:  center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 100%;
    width: 100%;
  }

.employee-zone {
    background-image: url("../images/employer-zone-bg.jpeg");
    position: fixed;
    background-position:  center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  .employee-zone::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    -moz-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    -ms-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    -o-background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    background-image: linear-gradient(to bottom right, #009aa6, #cccccc);
    opacity: .6;
  }


  .employee-zone .employee-zone-box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 100;
    background: #fff;
    width: 60%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.employee-zone .employee-zone-box .employee-zone-wrapper {
    clear: both;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.employee-zone .employee-zone-box .login-box,
.employee-zone .employee-zone-box .register-box {
    float: left;
    width: 50%;
}

.employee-zone .employee-zone-box .login-box .tile,
.employee-zone .employee-zone-box .register-box .tile {
    padding: 30px;
    min-height: 300px;
}

.employee-zone .employee-zone-box .login-box .tile .tile-container,
.employee-zone .employee-zone-box .register-box .tile .tile-container {
    min-height: 180px;
}

.employee-zone .employee-zone-box .login-box .tile .tile-container + .form-group,
.employee-zone .employee-zone-box .register-box .tile .tile-container + .form-group {
    margin-bottom: 0;
}

.employee-zone .employee-zone-box .login-box .tile {
    background: #f2f2f2;
}

.employee-zone .employee-zone-box .register-box .tile {
    background: #ffffff;
}

.employee-zone .employee-zone-box .login-box .checkbox {
    padding-left: 20px;
    text-align: left;
}

.employee-zone .employee-zone-box .login-box .cta-button,
.employee-zone .employee-zone-box .register-box .cta-button 
{
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 16px;
}



.employee-zone .employee-zone-box .login-box input.form-control,
.employee-zone .employee-zone-box .register-box input.form-control {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.employee-zone .employee-zone-box .register-box input.form-control {
    background: #f2f2f2;
}

.employee-zone .common-title {
    margin: 50px 0 50px 0;
}

.employee-zone .common-title h2 {
    color: #ffffff
}
.employee-zone .common-title h2:before {
    background: #ffffff
}

/* Ends Employee Zone */

/* Starts Jobs */

.inner-banner {
    position: relative;
    padding: 250px 0;
    background: url("../images/banner.jpeg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
  }

.inner-banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-image: linear-gradient(to bottom right, #3aa4e2, #cccccc);
    -moz-background-image: linear-gradient(to bottom right, #3aa4e2, #cccccc);
    -ms-background-image: linear-gradient(to bottom right, #3aa4e2, #cccccc);
    -o-background-image: linear-gradient(to bottom right, #3aa4e2, #cccccc);
    background-image: linear-gradient(to bottom right, #3aa4e2, #cccccc);
    opacity: .6;
}

.inner-banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.inner-banner .content h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px 0px;
    font-weight: bold;
}

.inner-banner .content p {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #fff;
    margin: 0 0 30px 0px;
}

.jobs .jobs-wrapper .box {
    background: #fff;
	padding: 25px;
    margin: 0 0 20px;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.jobs .jobs-wrapper .box .circle {
    background: #b3eef3;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 70px;
}

.jobs .jobs-wrapper .box h4 {
    margin: 20px 0;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.jobs .jobs-wrapper .box a {
    text-decoration: none !important;
    border: 1px solid #dcdcdc;
    color: #999;
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 12px;
    display: table;
    margin: 0 auto;
}

/* Ends Jobs */

/* Starts Top Compsnieds */

.top-companies {
    background-image: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-image: -moz-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-image: -ms-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-image: -o-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin-top: 70px;
    padding-bottom: 70px;
}

.top-companies .companies-wrapper .box {
    background: #fff;
	padding: 25px;
    margin: 0 0 20px;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.top-companies .companies-wrapper .box .info h5 {
    margin:  0;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.top-companies .companies-wrapper .box .info p {
    margin:  0;
    color: #999;
    font-size: 12px;
}

.top-companies .companies-wrapper .box .info .label-primary {
    background: #009aa6;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
}

.top-recruiters {
    padding-bottom: 50px;
}

.top-recruiters .slider .item {
    background: #fff;
    text-align: center;
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 4px;
    margin: 0 20px;
}

.top-recruiters .slider .item img {
    height: 80px;
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.top-recruiters .slider .item h4 {
    margin: 15px 0;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.top-recruiters .slider .item .label-primary {
    background: #009aa6;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
}



















/* EndsTop Compsnieds */